<footer>
  <div class='pre-footer'>
    <div class='container'>
      <div class='row'>
        <div class='span4'>
          <div class='footer-logo'>
            <a>Jennefer<strong>Mitchell</strong></a>
          </div>
          <ul class='footer-address'>
            <li>
              <strong>Address:</strong>
              803 Helston Rd<br/>
              Bloomfield Hills, MI 48304
            </li>
            <li>
              <strong>Phone:</strong>
              (248) 227-9573
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>