<header id='header'>
  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container'>
        <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </a>
        <a href="index.html" class="brand">Jennefer Mitchell</a>
        <div class='nav-collapse subnav-collapse collapse pull-right' id='top-navigation'>
          <ul class='nav'>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="whatWeDo.html">What We Do</a>
            </li>
            <li>
              <a href="whatIf.html">What If?</a>
            </li>
            <li>
              <a href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>