img.other-company{
	width: 150px;
	vertical-align: center;
}
a.to-what-we-do:hover{
	text-decoration:none;
}
img.coaching{
	height: 300px;
	max-width: 500%;
}
img.headshot{
	height: 417px;
}
.for-headshot{
    width: 278px;
	
}